/* Universal Styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Page Background Color */
body {
    background-color: #d9dcd6;
}

/* Site Header Styles */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Site Logo Styles */
header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

/* Site Nav Menu Styles — spacing, font styles, positioning */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Nav Menu Item Styles */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
}

/* Remove underline from nav links and make white */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Hero Image Section — sizing, spacing, image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Width and spacing of Main Section articles */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Main Section article styles — spacing, sizing, font, and colors */
article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Main Section articles — heading styles */
article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Main Section articles — image size */
article img {
    max-height: 200px;
}

/* Positioning all elements with class float-left */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Positioning all elements with class float-right */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Sidebar — spacing, positioning, font, and colors */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Sidebar Sections — spacing and font color */
.benefits > section {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Sidebar Section Headings — spacing and positioning */
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Sidebar Section Icons — positioning, spacing, and size */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Footer Styles */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Footer Heading Styles */
footer h2 {
    font-size: 20px;
}
